on:
  push:
    branches:
      - main

name: Deploy String boot to Amazon EC2
env:
  PROJECT_NAME: ringca

jobs:
  deploy:
    name: DEPLOY
    runs-on: ubuntu-latest
    env:
      working-directory: ./ringcard_backend
      
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11
          distribution: 'temurin' # or another supported distribution
          
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ${{ env.working-directory }}
        shell: bash
        
      - name: Build with Gradle
        run: ./gradlew build
        working-directory: ${{ env.working-directory }}
        shell: bash
        
